* {
    margin: 0;
    padding: 0;
   font-family: 'Noto Sans', sans-serif;;
}

/*MENU DE NAVEGACION*/

body {
    background-color: #ecc348;
}

.cabezera {
    width: 100%;

}

.navegador {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
   
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedorLogo {
    width: 100%;
    display: flex;
}

.contenedorLogo h1 {
    font-size: 1.8em;
}

.logo p {
    font-size: 1em;
}

.menu{
    box-sizing: border-box;
    width: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:7px;
    cursor: pointer;
    padding: 1% 0;
   
}

.menu p{
  font-size: 1.4vw;
  font-weight: 800;
}




/*MENU DESPLEGABLE*/

.dentroMenu {
    box-sizing: border-box;
    width: 100%;
    height: 5em;
   
    display: none;
    
}



/*CONTENIDO DE LA PAGINA*/

.contenedorUno {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 2%;
    gap: 15px;

}

.contenedorCuadroClase {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5%;

}

.cuadroClase {
    width: 12%;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: .8% 0;
}

.cuadroClase--a {
    width: 10%;
}

.cuadroClase h2 {
    font-size: 1.1em;
}

.rojo {
    color: red;
}

.blanco {
    color: white;
}

.contenedorCuadroClase hr {
    width: 82%;
    border: 1px dashed black;
   
}

.comidas {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.descripcionComida {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 1% ;
    border-bottom: 1px solid rgb(156, 156, 156);
}
.contnedorDescripcionPrecio {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.descripcionComida h4 {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.descripcionComida > h4 {

    width: 60%;
}

.contnedorDescripcionPrecio p {
    font-size: 1em;
}